.burger-constructor {
  max-width: 50%;
  max-height: 912px;
  overflow: scroll;
}

.burger-constructor__price {
  display: flex;
  align-items: center;
}

.burger-constructor__buy-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}