.main {
  display: flex;
  margin: 40px auto 120px;
  max-width: 1240px;
  width: calc(100% - 100px);
}

.link {
  text-decoration: none;
  transition: opacity 0.1s ease-in-out;
  width: 320px;
  height: 64px;
  display: flex;
  align-items: center;
}

.link:hover {
  opacity: 0.8;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.selected { 
  color: #F2F2F3;
}

.tip {
  opacity: 0.4;
}