.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
}

.popupOpened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.container {
  background-color: #1c1c21;
  z-index: 1;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  width: 640px;
}

.closeButton {
  background: transparent;
  border: 0;
  padding: 0;
  transition: opacity 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 60px;
  right: 40px;
}

.closeButton:hover {
  opacity: 0.6;
  cursor: pointer;
}

.title {
  height: 64px;
  display: flex;
  align-items: center;
}