.container {
  display: flex;
  flex-direction: column;
  max-height: 912px;
  overflow: 'hidden';
}

.sections::-webkit-scrollbar {
  width: 8px;
}

.sections::-webkit-scrollbar-track {
  background-color: #2F2F37;
}

.sections::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.sections {
  overflow-y: scroll;
}