.header {
  background-color: #1C1C21;
  position: relative;
  min-height: 88px;
}

.navigation {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.container {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  text-decoration: none;
  color: #8585AD
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 290px;
  height: 50px;
}

.activeLink {
  color: #F2F2F3;
}

